<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rmatch_effect_chuizi_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,100},{102,106}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{102,106}}</string>
                <key>sourceSize</key>
                <string>{112,108}</string>
            </dict>
            <key>Rmatch_effect_chuizi_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{100,108}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{100,108}}</string>
                <key>sourceSize</key>
                <string>{112,108}</string>
            </dict>
            <key>Rmatch_effect_chuizi_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{100,108}}</string>
                <key>sourceSize</key>
                <string>{112,108}</string>
            </dict>
            <key>Rmatch_effect_chuizi_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{96,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{96,108}}</string>
                <key>sourceSize</key>
                <string>{112,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chuizi.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5af3f5726bc6b2fcd26a4c1d8fd03aff:1/1$</string>
            <key>textureFileName</key>
            <string>chuizi.png</string>
        </dict>
    </dict>
</plist>
