<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_Score_content_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,451},{214,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,74}}</string>
                <key>sourceSize</key>
                <string>{214,74}</string>
            </dict>
            <key>UI_Score_content_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,451},{212,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,72}}</string>
                <key>sourceSize</key>
                <string>{212,72}</string>
            </dict>
            <key>UI_Score_content_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,304},{214,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,74}}</string>
                <key>sourceSize</key>
                <string>{214,74}</string>
            </dict>
            <key>UI_Score_content_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,451},{214,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,74}}</string>
                <key>sourceSize</key>
                <string>{214,74}</string>
            </dict>
            <key>UI_Score_content_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,229},{214,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,74}}</string>
                <key>sourceSize</key>
                <string>{214,74}</string>
            </dict>
            <key>UI_Score_content_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,927},{214,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,74}}</string>
                <key>sourceSize</key>
                <string>{214,74}</string>
            </dict>
            <key>UI_Score_content_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,927},{214,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,74}}</string>
                <key>sourceSize</key>
                <string>{214,74}</string>
            </dict>
            <key>UI_Score_content_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{281,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,75}}</string>
                <key>sourceSize</key>
                <string>{281,75}</string>
            </dict>
            <key>UI_Score_content_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,229},{279,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,73}}</string>
                <key>sourceSize</key>
                <string>{279,73}</string>
            </dict>
            <key>UI_Score_content_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{281,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,75}}</string>
                <key>sourceSize</key>
                <string>{281,75}</string>
            </dict>
            <key>UI_Score_content_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,2},{281,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,75}}</string>
                <key>sourceSize</key>
                <string>{281,75}</string>
            </dict>
            <key>UI_Score_content_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{281,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,75}}</string>
                <key>sourceSize</key>
                <string>{281,75}</string>
            </dict>
            <key>UI_Score_content_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{281,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,75}}</string>
                <key>sourceSize</key>
                <string>{281,75}</string>
            </dict>
            <key>UI_Score_content_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{281,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,75}}</string>
                <key>sourceSize</key>
                <string>{281,75}</string>
            </dict>
            <key>UI_Score_content_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,851},{281,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,74}}</string>
                <key>sourceSize</key>
                <string>{281,74}</string>
            </dict>
            <key>UI_Score_content_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,304},{279,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,72}}</string>
                <key>sourceSize</key>
                <string>{279,72}</string>
            </dict>
            <key>UI_Score_content_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,927},{281,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,74}}</string>
                <key>sourceSize</key>
                <string>{281,74}</string>
            </dict>
            <key>UI_Score_content_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,285},{281,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,74}}</string>
                <key>sourceSize</key>
                <string>{281,74}</string>
            </dict>
            <key>UI_Score_content_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,568},{281,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,74}}</string>
                <key>sourceSize</key>
                <string>{281,74}</string>
            </dict>
            <key>UI_Score_content_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,285},{281,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,74}}</string>
                <key>sourceSize</key>
                <string>{281,74}</string>
            </dict>
            <key>UI_Score_content_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,568},{281,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,74}}</string>
                <key>sourceSize</key>
                <string>{281,74}</string>
            </dict>
            <key>UI_Score_content_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,154},{279,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,73}}</string>
                <key>sourceSize</key>
                <string>{279,73}</string>
            </dict>
            <key>UI_Score_content_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,378},{277,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,71}}</string>
                <key>sourceSize</key>
                <string>{277,71}</string>
            </dict>
            <key>UI_Score_content_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,154},{279,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,73}}</string>
                <key>sourceSize</key>
                <string>{279,73}</string>
            </dict>
            <key>UI_Score_content_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,79},{279,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,73}}</string>
                <key>sourceSize</key>
                <string>{279,73}</string>
            </dict>
            <key>UI_Score_content_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,79},{279,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,73}}</string>
                <key>sourceSize</key>
                <string>{279,73}</string>
            </dict>
            <key>UI_Score_content_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,285},{279,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,73}}</string>
                <key>sourceSize</key>
                <string>{279,73}</string>
            </dict>
            <key>UI_Score_content_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,568},{279,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,73}}</string>
                <key>sourceSize</key>
                <string>{279,73}</string>
            </dict>
            <key>UI_Score_content_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,285},{281,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,74}}</string>
                <key>sourceSize</key>
                <string>{281,74}</string>
            </dict>
            <key>UI_Score_content_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,566},{279,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,72}}</string>
                <key>sourceSize</key>
                <string>{279,72}</string>
            </dict>
            <key>UI_Score_content_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,568},{281,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,74}}</string>
                <key>sourceSize</key>
                <string>{281,74}</string>
            </dict>
            <key>UI_Score_content_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,851},{281,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,74}}</string>
                <key>sourceSize</key>
                <string>{281,74}</string>
            </dict>
            <key>UI_Score_content_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{281,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,74}}</string>
                <key>sourceSize</key>
                <string>{281,74}</string>
            </dict>
            <key>UI_Score_content_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{281,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,74}}</string>
                <key>sourceSize</key>
                <string>{281,74}</string>
            </dict>
            <key>UI_Score_content_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{281,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,74}}</string>
                <key>sourceSize</key>
                <string>{281,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>clear.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28e83fbd301b11787d803ac5290da154:1/1$</string>
            <key>textureFileName</key>
            <string>clear.png</string>
        </dict>
    </dict>
</plist>
